.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Personnal CSS*/

p{
  color:#ffe436;
}

.grey-color{
  background-color: #282c34;
  color :#ffe436;
}

main{
  height: 100vh;
  background : linear-gradient(#282c34, #455e89, #2e6f95, #5c4d7d, #723c70, #892b64, #a01a58);
  /* background : linear-gradient(#282c34,#4f545e,#282c34); */
}

